html, body {
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    background-color: black !important;
    overflow: hidden;
}

button {
    background: transparent;
    color: #c9bbee;
    border: none;
    font-size: 40px;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: 3px;
}

/* unvisited link */
a:link {
    color: #c9bbee;
  }
  
  /* visited link */
  a:visited {
    color: #c9bbee;
  }
  
  /* mouse over link */
  a:hover {
    color: #c9bbee;
  }
  
  /* selected link */
  a:active {
    color: #c9bbee;
  }

.container {
    margin: 0;
    padding: 0;
    background-color: black !important;
    width: 100%;
    max-width: 100vw !important;
    height: 100%;
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: 11% 78% 11%;
    align-content: center;
}


/******************* HEADER *******************/

.header {
    background-color: black;
    font-family: 'Playfair Display', serif;
    color: #c9bbee;
    font-size: 40px;
    line-height: 1em;
    padding-top: 1.5%;
    padding-left: 3%;
    font-weight: 700;
    letter-spacing: 3px;
    grid-column-start: 1;
    grid-column-end: 2;
}

#logo {
    cursor: default;
    font-family: 'Playfair Display', serif;
}

.social-icon {
    margin-left: 1%;
    cursor: pointer;
}

.social-icon:hover {
    transform: scale(1.5);}

/* #social-instagram {
    cursor: pointer;
}

#social-instagram:hover {
    transform: scale(2);
    background-color: black;
    color: #c9bbee;
} */

/******************* SOCIAL *******************/

.social {
    background-color: black;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
    padding-top: 2%;
    padding-right: 2%;
    color: #c9bbee !important;
}

/******************* MAIN *******************/

.main {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
}

#video {
    width: 100%;
}

/******************* FOOTER *******************/

.footer {
    background-color: black;
    color: #c9bbee;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    grid-column-start: 1;
    grid-column-end: 3;
}

#about {
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    padding-top: 2%;
    padding-left: 1%;
}

#aboutModal {
    background-color: black;
}

.modal-dialog {
    top: 10%;
}

.modal-content {
    background-color: black !important;
    color: #c9bbee !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 1000px;
    font-size: 25px;
    border: none !important;
    text-align: justify;
}

.modal-header {
    border-bottom: none !important;
}