html, body {
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    background-color: black !important;
    overflow: hidden;
}

button {
    background: transparent;
    color: white;
    border: none;
    font-size: 40px;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: 3px;
}

#canvas_container {
    background-color: black;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: none;
  }

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

.container {
    margin: 0;
    padding: 0;
    background-color: black !important;
    width: 100%;
    max-width: 100vw !important;
    height: 100%;
    display: grid;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: 11% 78% 11%;
    align-content: center;
}

/******************* LANDING *******************/

.container-landing {
    margin: 0;
    padding: 0;
    background-color: black !important;
    width: 100%;
    max-width: 100vw !important;
    height: 100%;
    display: grid;
    grid-template-rows: 11% 78% 11%;
    align-content: center;
}

.header-landing {
    background-color: black;
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 60px;
    line-height: 1em;
    padding-top: 1.3%;
    padding-left: 6.4%;
    font-weight: 700;
    letter-spacing: 3px;
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: default;
}

.social-landing {
    background-color: black;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
    padding-top: 2.5%;
    padding-right: 7%;
    color: white !important;
    cursor: pointer !important;
    z-index: 1000;
}

.main-landing {
    background-image: url(assets/landing.jpg);
    /* background-color: black; */
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    justify-self: center;
    color: white;
}

.text-landing {
    background: url(assets/landing.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 78%;
    top: 11%;
    left: 0;
}

#button-landing {
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border: 2px white solid;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-family: 'Teko', sans-serif;
    font-size: 30px !important;
    font-weight: 700;
    letter-spacing: 1px;
    transition: background-color 0.5s ease;
}

#button-landing:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.footer-landing {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer-landing {
    padding-left: 1.5%;
}

/******************* HEADER *******************/

.header {
    background-color: black;
    font-family: 'Teko', sans-serif;
    color: white;
    font-size: 60px;
    line-height: 1em;
    padding-top: 1.5%;
    padding-left: 5%;
    font-weight: 700;
    letter-spacing: 3px;
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: default;
    font-family: 'Teko', sans-serif;
}

/* #logo {
    cursor: default;
    font-family: 'Teko', sans-serif;
    transform: scale(.5, 1);
} */

/******************* SOCIAL *******************/

.social {
    background-color: black;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
    padding-top: 2.5%;
    padding-right: 5%;
    color: white !important;
    cursor: pointer !important;
    z-index: 1000;
}

.social-icon {
    margin-left: 1%;
    cursor: pointer !important;
    z-index: 1000;
}

.social-icon:hover {
    transform: scale(1.2);
}

/* #social-instagram {
    cursor: pointer;
}

#social-instagram:hover {
    transform: scale(2);
    background-color: black;
    color: #c9bbee;
} */

/******************* MAIN *******************/

.main {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 3;
}

#video {
    width: 100%;
}

/******************* FOOTER *******************/

.footer {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    grid-column-start: 1;
    grid-column-end: 3;
}

#about {
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    padding-top: 2%;
    padding-left: 2.7%;
}

#aboutModal {
    background-color: black;
}

.modal-dialog {
    top: 10%;
}

.modal-content {
    background-color: black !important;
    color: white !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 1000px;
    font-size: 25px;
    border: none !important;
    text-align: justify;
}

.modal-header {
    border-bottom: none !important;
}


/* *** MOBILE *** */

@media only screen and (max-width: 600px) {
    .social-icon {
        padding-top: 5% !important;
    }

  }
